
<div class="card">
    <h1>{{courceIndex +" "+ cource_card.Heading }}</h1>

    <!-- @if @ifelse @else condition -->
   @if(cource_card.id ==1){
    image is deteceted for id 1
   }

    @else if(cource_card.img){
<img class="logo"
[src]="cource_card.img" alt ="angular logo">
    }
    @else {
        Image is not available
    }
<p>{{cource_card.description}}</p>
<button (click)="onButtonClick()">View Course ID</button>
</div>


    <!-- using ngIf directives -->
  
<!-- <img class="logo"
[src]="cource_card.img" alt ="angular logo" *ngIf ="cource_card.img; else ngElse ">
<ng-template #ngElse>
no course img is available
</ng-template>
  
<p>{{cource_card.description}}</p>
<button (click)="onButtonClick()">View Course ID</button>
</div> -->


