<!-- <router-outlet></router-outlet> -->

<h1>Hi Bhakti</h1>
<h3>my name is {{title}}</h3>
<input [value]="title" (keyup)="OnKeyUp(InputVaule.value)" #InputVaule>

<!-- *****parent to child (@input) and child to parent (@output) using event emitter -->

<!-- ********* using @output child to parent recivedata id *******-->
<div style="border: 2px solid red; ">{{dataReceiced?.id}}</div>


<!-- ********done (CourseEvent)="OnSelectedEmitter($event)" for recieving data from child to parent
                 done [cource_card]="cources_1 for receiveing data from parent to child *********-->

<!-- <app-course-card (CourseEvent)="OnSelectedEmitter($event)" [cource_card]="cources_1"></app-course-card>
<app-course-card (CourseEvent)="OnSelectedEmitter($event)" [cource_card]="cources_2"></app-course-card>
<app-course-card (CourseEvent)="OnSelectedEmitter($event)"[cource_card]="cources_3"></app-course-card> -->

<!-- same code using @for -->



<div>  
      <!-- 
    1."track couse.id" is mandatory for @for for looping the function and it should be unique(id should be present in every element)
       and if there is no unique number the you can track by index "track $index"

       why track is mandotory
             Angular’s rule: “If I don’t know which item is which, I may destroy and recreate DOM unnecessarily.”

       So Angular makes track mandatory to:
           1. Avoid UI flickering
           2. Avoid re-rendering whole lists
           3. Improve performance by default

           track helps Angular uniquely identify list items so it can update only changed DOM nodes.
            It’s mandatory in @for to enforce better performance and avoid unnecessary re-rendering.”

    2.here are some @for property such ad finding index of array total count of array 
         first and last number of array event and odd numbers -->
    @for (cource of courses; track cource.id ;let index =$index ; let count =$count ; 
    let first=$first ; let last =$last; let even=$even ; let odd =$odd)                      
    {
      <app-course-card (CourseEvent)="OnSelectedEmitter($event)" [cource_card]="cource"

      [class.is-first]="first"
      [class.is-last]="last"
      [class.is-even]="even"
      [class.is-odd]="odd"></app-course-card>  
    }
    @empty{
       <h1>data is not available in Courses array</h1>           
                                  <!-- we are using @empty with @for condition if data is not available in given array  -->
    }
</div>


<!-- using ngFor same  -->

<!-- <app-course-card *ngFor ="let cource of courses ; index as i ;first as isFirst;
last as isLast; even as isEven ; odd as isOdd"
 (CourseEvent)="OnSelectedEmitter($event)"
 [cource_card]="cource"  [courceIndex]="i+1"
 [class.is-first]="isFirst"
 [class.is-last]="isLast"
 [class.is-even]="isEven"
 [class.is-odd]="isOdd">
    </app-course-card>    -->
    



