/* You can add global styles to this file, and also import other style files */
app-course-card {
  display: block;
  width :400px;
   margin-bottom: 12px;

}
app-course-card.is-first {
  border-top: 10px solid blue;
  
}
app-course-card.is-last {
  border-bottom: 10px solid blue;
  
}
app-course-card.is-even {
  background-color:azure;
}
app-course-card.is-odd {
  background-color:aquamarine
}
